<!DOCTYPE html>
{% load static %}

<script>
    function display(data){
    // -----------------------------------------

    series: data
    });
    // -----------------------------------------
    };

    function getdata(){
        $.ajax({
            url:'chart1',
            datatype:'JSON',
            success:function(data){
                display(data);
            }
        });
    };

    $(document).ready(function(){
        getdata();
    });
</script>
<main>
<!--    <div class="container-fluid px-4">-->
<!--        <h1 class="mt-4">MoviesOnSteamingPlatforms</h1>-->
<!--        <ol class="breadcrumb mb-4">-->
<!--            <li class="breadcrumb-item active">Dashboard</li>-->
<!--        </ol>-->

<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                MoviesOnStreamingPlatforms Chart
            </div>
                <img  src="/static/img/Figure_1.png" alt=" ">
                        <p><cite>MoviesOnStreamingPlatforms</cite></p>

            </div>
</main>